!!!
%html
  %head
    =raw(@head)
    = stylesheet_link_tag "extraction"
    =javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js", "extraction/extraction"
    :javascript
      underscore = _;
    %meta{name: :url, content: @url}
  %body
    .extraction-navbar
      .navbar-header.extraction-left
        =link_to "Web extraction engine", root_path, confirm: "Are you sure you want to leave this page ?", class: :root_link
      .extraction-right
        %span Choose the level of the extraction
        =select_tag :level, options_for_select([1,2,3,4,5], 2)
        %button.extraction-button{'data-container' => "body", 'data-toggle' => "popover", 'data-placement' => "bottom"} Label
        %button.extraction-reset-button Reset
        %button.extraction-submit-button Save
        =image_tag 'loader.gif', class: [:loader, :hidden]
      .extraction-center
        =image_tag "cross.png", size: "32x32", class: :cross
        =image_tag "plus.png", size: "32x32", class: [:selected, :plus]
        / # =image_tag "minus.png", size: "32x32", class: :minus
    #original_page
      = raw(@body)

:javascript
  weights = #{@weights.to_json};