- content_for :head do 
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBqsxStycFXw_MFLjT5-kgUegXHgz1q16Q&sensor=true", "map", "data-turbolinks-track" => true

.wrapper
  .container
    .col-md-5.col-md-offset-1
      %h3 Contact
      %hr
      %div{"data-uv-default-mode" => "support", "data-uv-forum-id" => "259755", "data-uv-height" => "550px", "data-uv-inline" => "classic_widget", "data-uv-link-color" => "#007dbf", "data-uv-mode" => "full", "data-uv-primary-color" => "#cc6d00", "data-uv-width" => "100%"}
    .col-md-5.col-md-offset-1
      %h3 Google Map
      %hr
      #map-canvas{style: 'width:100%;height:250px'}
      %hr
      %h3= t('contact.address')
      %hr
      .col-md-6
        %strong Toyama Laboratory
        %br
        %span.text-muted.small 神奈川県横浜市港北区日吉3-14-1
        %span.text-muted.small 3-14-1 Hiyoshi, Kohoku-ku
        %span.text-muted.small Yokohama, Kanagawa 223-8522
        =link_to "toyama@db.ics.keio.ac.jp", "mailto:toyama@db.ics.keio.ac.jp"
      .col-md-6 
        %strong Thomas THIMOTHEE
        %br
        =link_to "Github Account", "https://github.com/oxynum", class: :small
        %br
        =link_to "+81 (0) 80 3609 2307", "tel:+818036092307", class: :small
        %br
        =link_to "thomas@oxynum.fr", "mailto:thomas@db.ics.keio.ac.jp", class: :small
        %br
        .span.text-muted.small
  %br
  .container
    .well.col-md-offset-1.col-md-11
      .col-md-5
        %h4= t('contact.check.head')
        %p{style: 'color:#666'}=t('contact.check.content')
      .col-md-5.col-md-offset-1
        %ul.custom-list{style: 'color:#666'}
          %li=link_to "SuperSQL", "http://ssql.db.ics.keio.ac.jp"
          %li=link_to "WIX (Web Index)", "http://kwix.jp"
          %li=link_to "RMX (Rule based Mail Xchange)"

:javascript
  $($('.navbar-nav li')[2]).addClass('active')