/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.theme
 *= require jquery.jgrowl.min
 */


.extraction-navbar {
  background-color: #222;
  border: 1px solid transparent;
  border-color: #090909;
  border-radius: 0;
  border-width: 0 0 1px;
  box-sizing: border-box;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  margin-bottom: 20px;
  min-height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2147483647;

  .hidden {
    display: none;
  }

  .loader {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    vertical-align: middle;
  }
  
  a {
    color: #999;
    font-size: 18px;
    line-height: 45px;
    margin-left: 80px;
    text-decoration: none;
    vertical-align: middle;
  }
  
  .extraction-left {
    float: left;
  }
  
  .extraction-center {
    line-height: 45px;
    margin: auto;
    text-align: center;

    img {
      cursor: pointer;
      margin-left: 15px;
      margin-right: 15px;
      vertical-align: middle;
    }

    .selected {
      border: #f00 3px solid;
      border-radius: 5pc;
    }

  }

  .extraction-right {
    color: #fff;
    float: right;
    line-height: 45px;
    margin-right: 20px;
    vertical-align: middle;
    
    .config {
      cursor: pointer;
      margin-left: 15px;
      vertical-align: middle;
    }
  }

  button {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-left: 30px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    &:active {
      background-image: none;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      outline: 0;
    }
  }

  .extraction-button {
    background-color: #fff;
    background-image: none;
    color: #333;

    &:hover,
    &:active {
      background-color: #ebebeb;
      border-color: #adadad;
      color: #333;
    }
  }

  .extraction-reset-button {
    background-color: #d9534f;
    background-image: none;
    color: #fff;

    &:hover,
    &:active {
      background-color: #d2322d;
      border-color: #ac2925;
      color: #fff;
    }
  }

  .extraction-submit-button {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
  }

  #extraction-label-button {
    margin-left: 10px;
  }
}

#original_page {
  padding-top: 50px;
}

.highlight {
  background-color: #7fff00 !important;
  border-radius: 10px !important;
  color: #000080 !important;
  outline: #f00 1px solid !important;
}

.selected_highlight {
  background-color: #59b200 !important;
  color: #000 !important;
}

.image_highlight {
  -webkit-filter: invert(.1) !important;
  outline: 2px solid #7fff00 !important;
}

.selected_highlight_image {
  -webkit-filter: invert(.1);
  outline: 2px solid #59b200;
}

.temp_highlight {
  background-color: #FF69B4 !important;
  border-radius: 10px !important;
  color: #000080 !important;
  outline: 1px solid #0f0;
}

.temp_img_highlight {
  -webkit-filter: invert(.1) !important;
  outline: 1px solid #0f0;
}

.jGrowl-message {
  
  img {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
  }
}